* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dd992c;
  background-image: linear-gradient(315deg, #dd992c 0%, #ffdd00 74%);
}

.wrapper {
  width: 340px;
  height: 540px;
  padding: 10px 10px 0;
  border-radius: 10px;
  background-color: #253240;
  background-image: linear-gradient(315deg, #253240 0%, #28313b 74%);
}

.button-box {
  width: 100%;
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}